* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ********************************* CALCULATOR CONTAINER ********************************* */

.calc-container {
    /* margin: 50px 0; */
    height: 100vh;
    width: 50%;
    min-width: 500px;
    background-color: black;
    display: flex;
    flex-direction: column;
    
}
/* ********************************* ALL BTNS ********************************* */

.btn {
    margin: 0;
    padding: 0;
    border: 3px solid black;
    background-color: rgb(37, 92, 92);
    width: 100%;
    height: 100%;
}



/* ********************************* SCREEN CONTAINER ********************************* */
.screen-container {
    flex: 1;
    border: 1px solid rgb(37, 92, 92);
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
}
.currentNum {
    flex: 1;
    border: 1px solid rgb(37, 92, 92);
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.input_output {
    flex: 1;
    border: 1px solid rgb(37, 92, 92);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* ********************************* CLEAR CONTAINER ********************************* */
.clear-container {
    /* height: 100%; */
    flex: 1;
    border: 1px solid rgb(37, 92, 92);
    display: flex;
    flex-direction: row;
}
.clear-all-container {
    flex: 1;
    border: 1px solid rgb(37, 92, 92);
}
.clear-entry-container {
    flex: 1;
    border: 1px solid rgb(37, 92, 92);
}



/* ********************************* BOTTOM CONTAINER ********************************* */

.bottom-half-container {
    flex: 4;
    display: flex;
    
}

.left-side-container {
    flex: 2;
    border: 1px solid rgb(37, 92, 92);
    display: flex;
    /* flex-flow: row wrap; */
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.right-side-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* ********************************* 1-9 CONTAINER ********************************* */

.one_to_nine_container {
    flex: 2;
    border: 1px solid rgb(37, 92, 92);
    display: flex;
    /* flex-flow: row wrap; */
    flex-direction: row;
    flex-wrap: wrap;
}

.btn_one_container {
    border: 1px solid rgb(37, 92, 92);
    flex: 1;
}
.btn_two_container {
    border: 1px solid rgb(37, 92, 92);
    flex: 1;
}
.btn_three_container {
    border: 1px solid rgb(37, 92, 92);
    flex: 1;
}
.btn_four_container {
    border: 1px solid rgb(37, 92, 92);
    flex: 1;
}
.btn_five_container {
    border: 1px solid rgb(37, 92, 92);
    flex: 1;
}
.btn_six_container {
    border: 1px solid rgb(37, 92, 92);
    flex: 1;
}
.btn_seven_container {
    border: 1px solid rgb(37, 92, 92);
    flex: 1;
}
.btn_eight_container {
    border: 1px solid rgb(37, 92, 92);
    flex: 1;
}
.btn_nine_container {
    border: 1px solid rgb(37, 92, 92);
    flex: 1;
}

/* ********************************* OPERATOR CONTAINER ********************************* */

.operator-container {
    flex: 1;
    border: 1px solid rgb(37, 92, 92);
    display: flex;
    flex-direction: column;
}
.divide-container {
    border: 1px solid rgb(37, 92, 92);
    flex: 1;
}
.multiply-container {
    border: 1px solid rgb(37, 92, 92);
    flex: 1;
}
.subtract-container {
    border: 1px solid rgb(37, 92, 92);
    flex: 1;
}
.addition-container {
    border: 1px solid rgb(37, 92, 92);
    flex: 1;
}
.equals-container {
    border: 1px solid rgb(37, 92, 92);
    flex: 1;
}



/* ********************************* BOTTOM BUTTONS CONTAINER ********************************* */

.bottom-btns-container {
    flex: .5;
    border: 1px solid rgb(37, 92, 92);
    display: flex;
}

.btn-zero-container {
    flex: 1;
    border: 1px solid rgb(37, 92, 92);
}
.plus_minus-container {
    flex: 1;
    border: 1px solid rgb(37, 92, 92);
}
.decimal-container {
    flex: 1;
    border: 1px solid rgb(37, 92, 92);
}



