:root {
    --main-bg-color: rgb(72, 117, 114);
    --light-green: rgb(155, 206, 202);
    --font-weight: 700;
    --ind-red: rgba(255, 51, 51, 0.7);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* touch-action: manipulation; */
    font-weight: var(--font-weight);
    cursor: pointer;
}

html, body {
    padding: 0;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .vis-show {
    visibility: visible;
}

.vis-hidden {
    visibility: hidden;
} */

/* ********************************* CALCULATOR CONTAINER ********************************* */

.calc-container {
    margin: 0;
    padding: 14px;
    min-height: 664px;
    max-width: 50%;
    min-width: 390px;
    background-color: black;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    /* border: 4px solid black; */
    gap: 7px;
}
/* ********************************* ALL BTNS ********************************* */

.btn {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 2em;
    text-align: center;
    color: var(--main-bg-color);
    box-shadow: 2px 2px 3px 0 rgba(107, 68, 68, 0.3);
    border: 2px solid white;
    text-decoration: none;
    background-color: white;
}
/* .btn:hover {background-color: rgba(255, 255, 255, 0.9)};

.btn:active {
  background-color: var(--light-green);
  box-shadow: 0 2px var(--main-bg-color);
  transform: translateY(4px);
} */
  
/* .btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
} */

/* ********************************* SCREEN CONTAINER ********************************* */
.screen-container {
    flex: .5;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px 3px 0 rgba(107, 68, 68, 0.3);
    /* border-radius: 10px; */
    border: 4px solid var(--main-bg-color);
    border-radius: 5px;
    /* padding-right: 7px; */
}
.current_num_container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid var(--main-bg-color); */
    /* border-radius: 10px; */
    padding-right: 7px;
}
.input_output_container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid var(--main-bg-color); */
    /* border-radius: 10px; */
    padding-right: 7px;
}

.current_txt {
    /* visibility: hidden; */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    color: var(--light-green);
    /* font-size: 2.5em; */
}

p {
    margin: 0;
    padding: 0;
    font-size: 3em;
    color: var(--main-bg-color);
}

/* ********************************* CLEAR CONTAINER ********************************* */
.clear-container {
    flex: .5;
    display: flex;
    padding: 7px 0;
    gap: 7px;
}
.clear-all-container {
    flex: 1;
    
}
.clear-entry-container {
    flex: 1;
}
.clear-all, .clear-entry {
    border: 2px solid var(--light-green);
    background-color: var(--light-green);
    box-shadow: 2px 2px 3px 0 rgba(107, 68, 68, 0.3);
    border-radius: 10px;
    color: var(--main-bg-color);
}

.clear-all:hover, .clear-entry:hover {background-color: white}
/* ********************************* BOTTOM CONTAINER ********************************* */

.bottom-half-container {
    flex: 3;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 7px ;
}

.left-side-container {
    flex: 2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* gap: 4px; */
}

.right-side-container {
    flex: .63;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* ********************************* 1-9 CONTAINER ********************************* */

.one_to_nine_container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
    gap: 7px;
}

.row_1 {
    flex: 1;
    display: flex;
    gap: 7px;
}

.row_2 {
    flex: 1;
    display: flex;
    gap: 7px;
}

.row_3 {
    flex: 1;
    display: flex;
    gap: 7px;
}

.row_4 {
    flex: 1;
    display: flex;
    gap: 7px;
}

.btn_one_container {
    flex: 1 1 0px;
}
.btn_two_container {
    flex: 1 1 0px;
}
.btn_three_container {
    flex: 1 1 0px;  
}
.btn_four_container {
    flex: 1 1 0px;  
}
.btn_five_container {
    flex: 1 1 0px; 
}
.btn_six_container {
    flex: 1 1 0px;  
}
.btn_seven_container {
    flex: 1 1 0px;  
}
.btn_eight_container {
    flex: 1 1 0px;  
}
.btn_nine_container {
    flex: 1 1 0px;  
}


.btn-zero-container {
    flex: 1 1 0px;
}
.plus_minus-container {
    flex: 1 1 0px;
}
.decimal-container {
    flex: 1 1 0px;
}
/* ********************************* BOTTOM BUTTONS CONTAINER ********************************* */

/* .bottom-btns-container {
    flex: .5;
    display: flex;
} */


/* ********************************* OPERATOR CONTAINER ********************************* */

.operator-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.divide-container {
    flex: 1;
}
.multiply-container {
    flex: 1;
}
.subtract-container {
    flex: 1;
}
.addition-container {
    flex: 1;
}
.equals-container {
    flex: 2;
}
.equals-btn {
    border: 2px solid var(--light-green);
    background-color: var(--light-green);
    box-shadow: 2px 2px 3px 0 rgba(107, 68, 68, 0.3);
    border-radius: 10px;
    color: var(--main-bg-color);
}

.operator {
    background-color: var(--main-bg-color);
    border: 2px solid var(--main-bg-color);
    color: white;
    box-shadow: 2px 2px 3px 0 rgba(107, 68, 68, 0.3);
    border-radius: 10px;
}







